# CI Artifacts
archive
artifacts
cov.xml
coverage.xml
testResults.xml

### Codacy ###
.codacy/*

# NuGet
*.nupkg
packages/
.nuget/

# .NET build artifacts
**/DLLPickle.Build/bin/
**/DLLPickle.Build/obj/

# Staged Module Output
# module/



### VisualStudioCode ###
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### OS ###
Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini
