# Project Files #
cov.xml
coverage.xml
Output/
scratch/
testResults.xml

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### OS ###
Thumbs.db
.DS_Store

### Codacy ###
.codacy/*
