# CI Artifacts
Archive
artifacts
cov.xml
coverage.xml
output/
Scratch/
testResults.xml

# Staged Module Output
module/

# .NET build artifacts
**/bin/
**/obj/

# NuGet
*.nupkg
packages/
.nuget/

### VisualStudioCode ###
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### OS ###
Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

### Codacy ###
.codacy/*
